# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env

# IDE settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Data files (Optional: Use this if you don't want to upload your CSV)
# data/movies.csv
